/* variables */
:root {
    font-family: sans-serif;

    --black: #000000;
    --light-gray: #d4d4d4;
    --typst-blue: #0074D9;
    --white: white;
    --red: #dd2b0f;
    --red-hover: #ad230e;
    --green: #2aaf10;

    --transition: 0.2s ease-out;
    --border-radius-text-box: 5px;
    --status-bar-height: 64px;
    --header-height: 62px;
}

/* styling reset */
html,
body,
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* basic styling */
* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--typst-blue);
    padding: 1.25rem 2rem;
    color: var(--white);
    height: var(--header-height);

    a {

        color: var(--white);
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

hr {
    color: white;
    width: 100%;
    margin-bottom: 1.5rem;
}

a.btn, button.btn {
    background-color: white;
    display: block;
    padding: 1rem;
    box-shadow: 0 0 1px var(--black);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
    border-radius: var(--border-radius-text-box);

    &:hover {
        background-color: var(--light-gray);
    }
}

button.btn {
    border: none;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    height: var(--status-bar-height);
    align-items: center;

    .barrier-wrapper {
        display: flex;
        align-items: center;
        gap: 0.75em;
    }

    .barrier-state {
        background-color: var(--red);
        border-radius: 100%;
        width: 2em;
        aspect-ratio: 1;
        display: inline-block;

        +span {
            margin: auto;
        }

        &.barrier-open {
            background-color: var(--green);
        }
    }
}

.content-center-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* subtracting statusbar two times, because it is transparent. 
    It would make the central content-box seem off-center otherwise  */
    color: var(--white);

    .content-center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* page content blocks */

.garage-list {
    width: min(100%, 20em);
    background-color: var(--typst-blue);
    padding: 20px;
    border-radius: 10px;

    ul {
        width: 100%;
    }

    li {

    }
}

.entrance {
    .big-red {
        aspect-ratio: 1;
        width: 16rem;
        background-color: var(--red);
        border: none;
        border-radius: 100%;
        font-size: 4rem;
        color: var(--white);
        text-transform: uppercase;
        transition: var(--transition);

        &:hover {
            background-color: var(--red-hover);
        }
    }
}

.ticket-data {
    width: min(100%, 26em);
    background-color: var(--typst-blue);
    padding: 20px;
    border-radius: 10px;

    .ticket-data-detail {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;

        p {
            padding-block: 1rem;
            &:nth-child(2n) {
                background-color: white;
                padding-inline: 1rem;
                border-radius: var(--border-radius-text-box);
                color: var(--black);
            }
        }

        a {
            grid-column: span 2;
        }
    }
}